{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "rules": {
    "semi": [
      "error",
      "never"
    ],
    "func-style": 0,
    "radix": 0,
    "no-underscore-dangle": 0,
    "jsx-quotes": ["error", "prefer-single"],
    "react/jsx-max-props-per-line": [2, { "when": "multiline" }],
    "react/jsx-key": 2,
    "react/jsx-handler-names": 2,
    "react/jsx-sort-props": ["error", {
      "noSortAlphabetically": true,
      "callbacksLast": true
    }],
    "no-param-reassign": [2, { "props": false }],

    "react/jsx-wrap-multilines": 0,
    "class-methods-use-this": 0,
    "react/prefer-stateless-function": 0,
    "arrow-body-style": 0,
    "react/jsx-indent": "off",
    "no-mixed-operators": "off",
    "react/jsx-no-bind": 0,
    "react/forbid-prop-types": 0,
    "react/require-default-props": 0,

    "jsx-a11y/alt-text": 1,
    "max-len": 1,
    "react/prop-types": 1,
    "no-useless-escape": 1
  },
  "overrides": [
    {
      "files": ["_story.jsx"],
      "rules": {
        "import/no-extraneous-dependencies": [
          "error", { "devDependencies": true }
        ]
      }
    }
  ],
  "settings": {
    "import/resolver": "webpack"
  }
}
